<!DOCTYPE HTML>
<!--
    Miniport by HTML5 UP
    Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
<head>
    <title>My Blog Web Site</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="~/assets/css/main.css" />
    <!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
    <!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
</head>
<body>
    <!-- Nav -->
    <nav id="nav">
        <ul class="container">
            <li><a href="/Admin/Home/Index">Admin</a></li>
            <li><a href="/Home/Work">İş</a></li>
            <li><a href="#contact">İletişim</a></li>
        </ul>
    </nav>

    @RenderBody()


    <!-- Contact -->
    <div class="wrapper style4">
        <article id="contact" class="container 75%">
            <header>
                <h2>Bize mesaj yoluyla ulaşabilirsin.</h2>
                <p>Ornare nulla proin odio consequat sapien vestibulum ipsum sed lorem.</p>
            </header>
            <div>
                <div class="row">
                    <div class="12u">
                        <form method="post" action="#">
                            <div>
                                <div class="row">
                                    <div class="6u 12u(mobile)">
                                        <input type="text" name="name" id="name" placeholder="Ad" />
                                    </div>
                                    <div class="6u 12u(mobile)">
                                        <input type="text" name="email" id="email" placeholder="E-Mail" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="12u">
                                        <input type="text" name="subject" id="subject" placeholder="Konu" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="12u">
                                        <textarea name="message" id="message" placeholder="Mesaj"></textarea>
                                    </div>
                                </div>
                                <div class="row 200%">
                                    <div class="12u">
                                        <ul class="actions">
                                            <li><input type="submit" value="Mesaj Gönder" /></li>
                                            <li><input type="reset" value="Temizle" class="alt" /></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="12u">
                        <hr />
                        <h3>Bize ulaşın...</h3>
                        <ul class="social">
                            <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                            <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                            <li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
                            <li><a href="#" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
                            <li><a href="#" class="icon fa-tumblr"><span class="label">Tumblr</span></a></li>
                            <li><a href="#" class="icon fa-google-plus"><span class="label">Google+</span></a></li>
                            <li><a href="#" class="icon fa-github"><span class="label">Github</span></a></li>
                            <!--
                            <li><a href="#" class="icon fa-rss"><span>RSS</span></a></li>
                            <li><a href="#" class="icon fa-instagram"><span>Instagram</span></a></li>
                            <li><a href="#" class="icon fa-foursquare"><span>Foursquare</span></a></li>
                            <li><a href="#" class="icon fa-skype"><span>Skype</span></a></li>
                            <li><a href="#" class="icon fa-soundcloud"><span>Soundcloud</span></a></li>
                            <li><a href="#" class="icon fa-youtube"><span>YouTube</span></a></li>
                            <li><a href="#" class="icon fa-blogger"><span>Blogger</span></a></li>
                            <li><a href="#" class="icon fa-flickr"><span>Flickr</span></a></li>
                            <li><a href="#" class="icon fa-vimeo"><span>Vimeo</span></a></li>
                            -->
                        </ul>
                        <hr />
                    </div>
                </div>
            </div>
            <footer>
                <ul id="copyright">
                    <li>&copy; MyBlog WebSite</li>
                    <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
                </ul>
            </footer>
        </article>
    </div>
    <!-- Scripts -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/jquery.scrolly.min.js"></script>
    <script src="assets/js/skel.min.js"></script>
    <script src="assets/js/skel-viewport.min.js"></script>
    <script src="assets/js/util.js"></script>
    <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
    <script src="assets/js/main.js"></script>
    </body>
</html>